/* Add CSS Styling */

.odd {
    background-color: #FDE2FF;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.odd.cool{
    font-size: 24px;
}

#second{
    color: #52B2CF;
    font-size: 36px;
}

#fourth{
    background-color: #96E6B3;
    font-size: 24px;
    font-weight: bold;
    
}