/* Add CSS Styling */

.button{
    font-size: 28px;
    font-family: "Helvetica","Times New Roman","sans-serif" ;
}

.black{
    background-color: #000;
    color: #fff;
}

.yellow{
    background-color: #F2E94E;
}