body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  margin-top: 16px;
  padding-left: 25%;
  padding-right: 25%;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}